h2 {
    text-align: center;
    max-width: 600px;
    padding: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 90px repeat(5, 1fr);
    width: 600px;
    height: 450px;
    text-align: center;
    font-size: small;
}

.grid-item {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .grid-item:nth-child(1) {
    border: 1px solid white;
    border: 0px;
} */

.grid-item:nth-child(9) {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

.grid-item:nth-child(11) {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 6;
}

.grid-item:nth-child(18) {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
}

.grid-item:nth-child(20) {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
}

.grid-item:nth-child(31) {
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 5;
    grid-column-end: 6;
}

.grid-item:nth-child(32) {
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 6;
    grid-column-end: 7;
}

.grid-item:nth-child(35) {
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 3;
    grid-column-end: 4;
}

.grid-item:nth-child(36) {
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 4;
    grid-column-end: 5;
}

.grid-item:nth-child(38) {
    background-color: goldenrod;
}

.grid-item:nth-child(40) {
    background-color: goldenrod;
}

.days-of-the-week {
    background-color: lightblue;
}

.days-of-the-week:first-child {
    background-color: white;
}